@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?d7lmyj');
  src:  url('../fonts/icomoon.eot?d7lmyj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?d7lmyj') format('truetype'),
    url('../fonts/icomoon.woff?d7lmyj') format('woff'),
    url('../fonts/icomoon.svg?d7lmyj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-box:before {
  content: "\e900";
}
.icon-write:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-reply:before {
  content: "\e903";
}
.icon-reply-all:before {
  content: "\e904";
}
.icon-forward:before {
  content: "\e905";
}
.icon-flag:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-trash:before {
  content: "\e908";
}
.icon-envelope:before {
  content: "\e909";
}
.icon-bubble:before {
  content: "\e90a";
}
.icon-bubbles:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-users:before {
  content: "\e90d";
}
.icon-cloud:before {
  content: "\e90e";
}
.icon-download:before {
  content: "\e90f";
}
.icon-upload:before {
  content: "\e910";
}
.icon-rain:before {
  content: "\e911";
}
.icon-sun:before {
  content: "\e912";
}
.icon-moon:before {
  content: "\e913";
}
.icon-bell:before {
  content: "\e914";
}
.icon-folder:before {
  content: "\e915";
}
.icon-pin:before {
  content: "\e916";
}
.icon-sound:before {
  content: "\e917";
}
.icon-microphone:before {
  content: "\e918";
}
.icon-camera:before {
  content: "\e919";
}
.icon-image:before {
  content: "\e91a";
}
.icon-cog:before {
  content: "\e91b";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-book:before {
  content: "\e91d";
}
.icon-map-marker:before {
  content: "\e91e";
}
.icon-store:before {
  content: "\e91f";
}
.icon-support:before {
  content: "\e920";
}
.icon-tag:before {
  content: "\e921";
}
.icon-heart:before {
  content: "\e922";
}
.icon-video-camera:before {
  content: "\e923";
}
.icon-trophy:before {
  content: "\e924";
}
.icon-cart:before {
  content: "\e925";
}
.icon-eye:before {
  content: "\e926";
}
.icon-cancel:before {
  content: "\e927";
}
.icon-chart:before {
  content: "\e928";
}
.icon-target:before {
  content: "\e929";
}
.icon-printer:before {
  content: "\e92a";
}
.icon-location:before {
  content: "\e92b";
}
.icon-bookmark:before {
  content: "\e92c";
}
.icon-monitor:before {
  content: "\e92d";
}
.icon-cross:before {
  content: "\e92e";
}
.icon-plus:before {
  content: "\e92f";
}
.icon-left:before {
  content: "\e930";
}
.icon-up:before {
  content: "\e931";
}
.icon-browser:before {
  content: "\e932";
}
.icon-windows:before {
  content: "\e933";
}
.icon-switch:before {
  content: "\e934";
}
.icon-dashboard:before {
  content: "\e935";
}
.icon-play:before {
  content: "\e936";
}
.icon-fast-forward:before {
  content: "\e937";
}
.icon-next:before {
  content: "\e938";
}
.icon-refresh:before {
  content: "\e939";
}
.icon-film:before {
  content: "\e93a";
}
.icon-home:before {
  content: "\e93b";
}
.icon-eye2:before {
  content: "\e000";
}
.icon-paper-clip:before {
  content: "\e001";
}
.icon-mail:before {
  content: "\e002";
}
.icon-toggle:before {
  content: "\e003";
}
.icon-layout:before {
  content: "\e004";
}
.icon-link:before {
  content: "\e005";
}
.icon-bell2:before {
  content: "\e006";
}
.icon-lock:before {
  content: "\e007";
}
.icon-unlock:before {
  content: "\e008";
}
.icon-ribbon:before {
  content: "\e009";
}
.icon-image2:before {
  content: "\e010";
}
.icon-signal:before {
  content: "\e011";
}
.icon-target2:before {
  content: "\e012";
}
.icon-clipboard:before {
  content: "\e013";
}
.icon-clock2:before {
  content: "\e014";
}
.icon-watch:before {
  content: "\e015";
}
.icon-air-play:before {
  content: "\e016";
}
.icon-camera2:before {
  content: "\e017";
}
.icon-video:before {
  content: "\e018";
}
.icon-disc:before {
  content: "\e019";
}
.icon-printer2:before {
  content: "\e020";
}
.icon-monitor2:before {
  content: "\e021";
}
.icon-server:before {
  content: "\e022";
}
.icon-cog2:before {
  content: "\e023";
}
.icon-heart2:before {
  content: "\e024";
}
.icon-paragraph:before {
  content: "\e025";
}
.icon-align-justify:before {
  content: "\e026";
}
.icon-align-left:before {
  content: "\e027";
}
.icon-align-center:before {
  content: "\e028";
}
.icon-align-right:before {
  content: "\e029";
}
.icon-book2:before {
  content: "\e030";
}
.icon-layers:before {
  content: "\e031";
}
.icon-stack:before {
  content: "\e032";
}
.icon-stack-2:before {
  content: "\e033";
}
.icon-paper:before {
  content: "\e034";
}
.icon-paper-stack:before {
  content: "\e035";
}
.icon-search2:before {
  content: "\e036";
}
.icon-zoom-in:before {
  content: "\e037";
}
.icon-zoom-out:before {
  content: "\e038";
}
.icon-reply2:before {
  content: "\e039";
}
.icon-circle-plus:before {
  content: "\e040";
}
.icon-circle-minus:before {
  content: "\e041";
}
.icon-circle-check:before {
  content: "\e042";
}
.icon-circle-cross:before {
  content: "\e043";
}
.icon-square-plus:before {
  content: "\e044";
}
.icon-square-minus:before {
  content: "\e045";
}
.icon-square-check:before {
  content: "\e046";
}
.icon-square-cross:before {
  content: "\e047";
}
.icon-microphone2:before {
  content: "\e048";
}
.icon-record:before {
  content: "\e049";
}
.icon-skip-back:before {
  content: "\e050";
}
.icon-rewind:before {
  content: "\e051";
}
.icon-play2:before {
  content: "\e052";
}
.icon-pause:before {
  content: "\e053";
}
.icon-stop:before {
  content: "\e054";
}
.icon-fast-forward2:before {
  content: "\e055";
}
.icon-skip-forward:before {
  content: "\e056";
}
.icon-shuffle:before {
  content: "\e057";
}
.icon-repeat:before {
  content: "\e058";
}
.icon-folder2:before {
  content: "\e059";
}
.icon-umbrella:before {
  content: "\e060";
}
.icon-moon2:before {
  content: "\e061";
}
.icon-thermometer:before {
  content: "\e062";
}
.icon-drop:before {
  content: "\e063";
}
.icon-sun2:before {
  content: "\e064";
}
.icon-cloud2:before {
  content: "\e065";
}
.icon-cloud-upload:before {
  content: "\e066";
}
.icon-cloud-download:before {
  content: "\e067";
}
.icon-upload2:before {
  content: "\e068";
}
.icon-download2:before {
  content: "\e069";
}
.icon-location2:before {
  content: "\e070";
}
.icon-location-2:before {
  content: "\e071";
}
.icon-map:before {
  content: "\e072";
}
.icon-battery:before {
  content: "\e073";
}
.icon-head:before {
  content: "\e074";
}
.icon-briefcase:before {
  content: "\e075";
}
.icon-speech-bubble:before {
  content: "\e076";
}
.icon-anchor:before {
  content: "\e077";
}
.icon-globe:before {
  content: "\e078";
}
.icon-box2:before {
  content: "\e079";
}
.icon-reload:before {
  content: "\e080";
}
.icon-share:before {
  content: "\e081";
}
.icon-marquee:before {
  content: "\e082";
}
.icon-marquee-plus:before {
  content: "\e083";
}
.icon-marquee-minus:before {
  content: "\e084";
}
.icon-tag2:before {
  content: "\e085";
}
.icon-power:before {
  content: "\e086";
}
.icon-command:before {
  content: "\e087";
}
.icon-alt:before {
  content: "\e088";
}
.icon-esc:before {
  content: "\e089";
}
.icon-bar-graph:before {
  content: "\e090";
}
.icon-bar-graph-2:before {
  content: "\e091";
}
.icon-pie-graph:before {
  content: "\e092";
}
.icon-star:before {
  content: "\e093";
}
.icon-arrow-left:before {
  content: "\e094";
}
.icon-arrow-right:before {
  content: "\e095";
}
.icon-arrow-up:before {
  content: "\e096";
}
.icon-arrow-down:before {
  content: "\e097";
}
.icon-volume:before {
  content: "\e098";
}
.icon-mute:before {
  content: "\e099";
}
.icon-content-right:before {
  content: "\e100";
}
.icon-content-left:before {
  content: "\e101";
}
.icon-grid:before {
  content: "\e102";
}
.icon-grid-2:before {
  content: "\e103";
}
.icon-columns:before {
  content: "\e104";
}
.icon-loader:before {
  content: "\e105";
}
.icon-bag:before {
  content: "\e106";
}
.icon-ban:before {
  content: "\e107";
}
.icon-flag2:before {
  content: "\e108";
}
.icon-trash2:before {
  content: "\e109";
}
.icon-expand:before {
  content: "\e110";
}
.icon-contract:before {
  content: "\e111";
}
.icon-maximize:before {
  content: "\e112";
}
.icon-minimize:before {
  content: "\e113";
}
.icon-plus2:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross2:before {
  content: "\e117";
}
.icon-move:before {
  content: "\e118";
}
.icon-delete:before {
  content: "\e119";
}
.icon-menu:before {
  content: "\e120";
}
.icon-archive:before {
  content: "\e121";
}
.icon-inbox:before {
  content: "\e122";
}
.icon-outbox:before {
  content: "\e123";
}
.icon-file:before {
  content: "\e124";
}
.icon-file-add:before {
  content: "\e125";
}
.icon-file-subtract:before {
  content: "\e126";
}
.icon-help:before {
  content: "\e127";
}
.icon-open:before {
  content: "\e128";
}
.icon-ellipsis:before {
  content: "\e129";
}
